Repository jyablonski/nba_elt_dbt, changes with the labels that .github/labeler.yml gives for each.
All labels: cd, dependencies, data_models, sources

add
  models/prep/prep_bans.sql
Labels: none

add
  docker/docker-compose-test.yml
Labels: cd

round dat
  README.md
  models/prep/prep_player_stats.sql
Labels: none

yeet
  data/schema.yml
  models/marts/nba_predictions.sql
  models/ml/schedule_tonights_games.sql
Labels: none

yee
  data/schema.yml
Labels: none

z
  docker/postgres_bootstrap.sql
  jacobs_notes.md
  models/marts/nba_predictions.sql
  models/ml/ml_betting_strategy.sql
  models/ml/ml_past_games_analysis_daily.sql
  models/ml/ml_past_games_analysis_total_aggs.sql
  models/ml/ml_past_games_odds_analysis.sql
  models/ml/schedule_tonights_games.sql
  models/sources.yml
Labels: cd, data_models, sources

wtf
  models/marts/user_past_predictions.sql
  models/prep/prep_player_stats_rolling_avg.sql
Labels: none

Bump version: 2.5.0 → 2.5.1
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: none

z
  .github/workflows/test.yml
Labels: none

z
  .github/workflows/test.yml
Labels: none

dbt Prod Release v2.5.1 (#186)
  .bumpversion.cfg
  .github/workflows/test.yml
  README.md
  VERSION
  models/marts/user_past_predictions.sql
  models/prep/prep_player_stats_rolling_avg.sql
  pyproject.toml
Labels: none

add decimals
  jacobs_notes.md
  models/marts/user_past_predictions.sql
Labels: none

Bump version: 2.5.1 → 2.5.2
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: none

dbt Prod Release 2.5.2 (#187)
  .bumpversion.cfg
  README.md
  VERSION
  jacobs_notes.md
  models/marts/user_past_predictions.sql
  pyproject.toml
Labels: none

add
  models/marts/user_prediction_profit_by_team.sql
Labels: none

Bump version: 2.5.2 → 2.5.3
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: none

dbt Prod Release v2.5.3 (#188)
  .bumpversion.cfg
  README.md
  VERSION
  models/marts/user_prediction_profit_by_team.sql
  pyproject.toml
Labels: none

update schedules
  models/marts/schedule.sql
  models/marts/schedule_season_remaining.sql
  models/ml/schedule_tonights_games.sql
Labels: none

Bump version: 2.5.3 → 2.5.4
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: none

remove that filter
  models/marts/schedule.sql
Labels: none

dbt Prod Release v2.5.4 (#189)
  .bumpversion.cfg
  README.md
  VERSION
  models/marts/schedule.sql
  models/marts/schedule_season_remaining.sql
  models/ml/schedule_tonights_games.sql
  pyproject.toml
Labels: none

dd
  README.md
  jacobs_notes.md
  packages.yml
  tests/assert_no_missing_game_data.sql
Labels: none

add dbt utils ??
  packages.yml
Labels: none

mfer
  models/prep/prep_players_teams_scd2.sql
  models/prep/prep_schedule_table.sql
  models/staging/staging_aws_injury_data_table.sql
Labels: none

happy yet mfer
  docker/postgres_bootstrap.sql
  models/marts/bans.sql
  models/marts/twitter_comments.sql
  models/ml/ml_betting_strategy.sql
  models/ml/ml_moneyline_bins.sql
  models/ml/ml_past_games.sql
  models/ml/ml_past_games_analysis_daily.sql
  models/ml/ml_past_games_analysis_total_aggs.sql
  models/ml/ml_past_games_odds_analysis.sql
  models/ml/ml_tonights_games.sql
  models/prep/prep_pbp_table.sql
  models/prep/prep_reddit_comments.sql
  models/staging/staging_aws_injury_data_table.sql
  models/staging/staging_aws_injury_data_table_lastwk.sql
  tests/assert_moneyline_odds.sql
Labels: cd

ADD SOME GOODS
  data/staging_seed_top_players.csv
  tests/assert_team_name_abbreviations.sql
  tests/test_moneyline_odds.sql
  tests/test_no_missing_game_data.sql
  tests/test_team_name_abbreviations.sql
  tests/test_top_players.sql
Labels: none

.github/labeler.yml:

cd:
- .github/workflows/deploy.yml
- docker/*

dependencies:
- Pipfile

data_models:
- models/*

sources:
- models/sources.yml
