Repository jyablonski/nba_elt_dbt, changes with the labels that .github/labeler.yml gives for each.
All labels: cd, dependencies, intermediate_models, data_products, sources

s
  models/marts/team_blown_leads.sql
Labels: data_products

Bump version: 3.2.16 → 3.2.17
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: none

dbt v3.2.17 (#227)
  .bumpversion.cfg
  README.md
  VERSION
  models/marts/team_blown_leads.sql
  pyproject.toml
Labels: data_products

add
  macros/is_great_bet_value.sql
  models/ml/schedule_tonights_games.sql
  tests/assert_great_bet_value_logic.sql
Labels: none

Bump version: 3.2.17 → 3.2.18
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: none

dbt v3.2.18 (#228)
  .bumpversion.cfg
  README.md
  VERSION
  macros/is_great_bet_value.sql
  models/ml/schedule_tonights_games.sql
  pyproject.toml
  tests/assert_great_bet_value_logic.sql
Labels: none

add
  models/marts/bans.sql
  models/prep/prep_contract_value_analysis.yml
Labels: intermediate_models, data_products

Bump version: 3.2.18 → 3.2.19
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: none

dbt v3.2.19 (#229)
  .bumpversion.cfg
  README.md
  VERSION
  models/marts/bans.sql
  models/prep/prep_contract_value_analysis.yml
  pyproject.toml
Labels: intermediate_models, data_products

add
  models/prep/prep_team_game_lead_times.sql
  models/prep/prep_team_game_lead_times.yml
  models/prep/prep_team_lead_aggs.sql
  models/prep/prep_team_lead_aggs.yml
Labels: intermediate_models

dbt v3.2.20 (#230)
  models/prep/prep_team_game_lead_times.sql
  models/prep/prep_team_game_lead_times.yml
  models/prep/prep_team_lead_aggs.sql
  models/prep/prep_team_lead_aggs.yml
Labels: intermediate_models

.github/labeler.yml:

cd:
  - .github/workflows/deploy.yml

dependencies:
  - uv.lock
  - packages.yml

intermediate_models:
  - models/fact/**
  - models/dim/**
  - models/prep/**

data_products:
  - models/marts/**

sources:
  - models/sources.yml
