Repository jyablonski/nba_elt_dbt, changes with the labels that .github/labeler.yml gives for each.
All labels: cd, dependencies, data_models, data_products, sources

add updates
  models/fact/odds_data.yml
  models/fact/pbp_data.yml
  models/fact/player_stats_data.sql
  models/fact/player_stats_data.yml
  models/fact/reddit_comment_data.yml
  models/fact/twitter_tweets.yml
Labels: data_models

fix
  tests/test_team_name_abbreviations.sql
  tests/test_top_players.sql
Labels: none

z
  tests/test_top_players.sql
Labels: none

add
  dbt_project.yml
  models/ad_hoc_analytics/three_pt_shooters.sql
  models/marts/reddit_comments.sql
  models/prep/prep_injury_tracker.sql
  models/prep/prep_reddit_team_sentiment_aggs.sql
  models/sources.yml
  tests/test_moneyline_odds.sql
  tests/test_top_players.sql
Labels: data_models, data_products, sources

mfer
  models/marts/injuries.sql
  models/prep/prep_bans.sql
Labels: data_models, data_products

adsds
  models/fact/pbp_data.sql
Labels: data_models

Bump version: 2.5.7 → 3.0.0
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: dependencies

.github/labeler.yml:

cd:
- .github/workflows/deploy.yml

dependencies:
- pyproject.toml

data_models:
- models/**

data_products:
- models/marts/**

sources:
- models/sources.yml
