Repository jyablonski/nba_elt_dbt, changes with the labels that .github/labeler.yml gives for each.
All labels: cd, dependencies, data_models, sources

.github/labeler.yml:

cd:
- .github/workflows/deploy.yml
- docker/*

dependencies:
- Pipfile

data_models:
- models/*

sources:
- models/sources.yml

add continue on error check
  .github/workflows/test.yml
Labels: none

Bump version: 2.3.0 → 2.3.1
  .bumpversion.cfg
  README.md
  VERSION
Labels: none

add
  .bumpversion.cfg
  Makefile
  Pipfile
  Pipfile.lock
  docker/Dockerfile
  docker/install_packages.sh
  macros/env_limit.sql
  models/marts/social_media_aggs.sql
  poetry.lock
  pyproject.toml
Labels: cd, dependencies

add note
  .github/workflows/test.yml
Labels: none

z
  .github/workflows/test.yml
Labels: none

dbt Prod Release v2.3.1 (#180)
  .bumpversion.cfg
  .github/workflows/test.yml
  Makefile
  Pipfile
  Pipfile.lock
  README.md
  VERSION
  docker/Dockerfile
  docker/install_packages.sh
  macros/env_limit.sql
  models/marts/social_media_aggs.sql
  poetry.lock
  pyproject.toml
Labels: cd, dependencies

add
  .sqlfluff
  docker/Dockerfile
  jacobs_notes.md
  models/marts/pbp.sql
  models/ml/ml_tonights_games.sql
Labels: cd

z
  .sqlfluff
  pyproject.toml
Labels: none

hayahgh
  .sqlfluffignore
  pyproject.toml
Labels: none

add bacq
  .sqlfluff
  .sqlfluffignore
  docker/docker-compose-postgres.yml
  docker/postgres_bootstrap.sql
  pyproject.toml
Labels: cd

Bump version: 2.3.1 → 2.3.2
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: none

dbt Prod Release v2.3.2 (#181)
  .bumpversion.cfg
  .sqlfluff
  .sqlfluffignore
  README.md
  VERSION
  docker/Dockerfile
  docker/docker-compose-postgres.yml
  docker/postgres_bootstrap.sql
  jacobs_notes.md
  models/marts/pbp.sql
  models/ml/ml_tonights_games.sql
  pyproject.toml
Labels: cd

add
  data/staging_seed_top_players.csv
  models/marts/shooting_stats.yml
  models/staging/staging_aws_opp_stats_table.yml
Labels: none

add fioxes
  macros/generate_season_type.sql
  models/ml/ml_tonights_games.sql
  models/prep/prep_schedule_table.sql
  models/staging/staging_aws_odds_table.sql
Labels: none

dbt Prod Release v2.3.3 (#182)
  data/staging_seed_top_players.csv
  macros/generate_season_type.sql
  models/marts/shooting_stats.yml
  models/ml/ml_tonights_games.sql
  models/prep/prep_schedule_table.sql
  models/staging/staging_aws_odds_table.sql
  models/staging/staging_aws_opp_stats_table.yml
Labels: none

add
  .github/workflows/test.yml
  .sqlfluff
  Makefile
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  jacobs_notes.md
  models/ml/schedule_tonights_games.sql
  profiles/profiles.yml
Labels: cd

Bump version: 2.3.2 → 2.4.0
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: none

test
  .sqlfluff
Labels: none

ss
  .github/workflows/test.yml
Labels: none

yah
  .github/workflows/test.yml
Labels: none

yee
  .github/workflows/test.yml
Labels: none

a
  .github/workflows/test.yml
Labels: none

don't need
  .github/workflows/test.yml
  models/staging/test.sql
Labels: none

remove dat
  models/staging/test.sql
Labels: none

add
  .github/workflows/test.yml
  Makefile
  README.md
  docker/postgres_bootstrap.sql
Labels: cd

add 2 new cols for contracts analysis
  .sqlfluff
  models/marts/team_contracts_analysis.sql
  models/prep/prep_team_contracts_analysis.sql
Labels: none

try dfat
  docker/postgres_bootstrap.sql
Labels: cd

v2
  .github/workflows/test.yml
Labels: none

f
  .github/workflows/test.yml
Labels: none

j
  .github/workflows/test.yml
Labels: none

dbt Prod Release v2.4.0 (#183)
  .bumpversion.cfg
  .github/workflows/test.yml
  .sqlfluff
  Makefile
  README.md
  VERSION
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  jacobs_notes.md
  models/marts/team_contracts_analysis.sql
  models/ml/schedule_tonights_games.sql
  models/prep/prep_team_contracts_analysis.sql
  profiles/profiles.yml
  pyproject.toml
Labels: cd

add
  models/marts/reddit_sentiment_time_series.sql
Labels: none

Bump version: 2.4.0 → 2.4.1
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: none

z
  pyproject.toml
Labels: none

try
  .github/workflows/test.yml
  docker/docker-compose-test.yml
Labels: cd

z
  .github/workflows/test.yml
Labels: none

lit
  .github/workflows/test.yml
Labels: none

dbt Prod Release v2.4.1 (#184)
  .bumpversion.cfg
  .github/workflows/test.yml
  README.md
  VERSION
  docker/docker-compose-test.yml
  models/marts/reddit_sentiment_time_series.sql
  pyproject.toml
Labels: cd

add the goods
  data/staging_seed_player_attributes.csv
  dbt_project.yml
  docker/postgres_bootstrap.sql
  models/prep/prep_injury_tracker.sql
  models/prep/prep_recent_games_players.sql
  models/sources.yml
Labels: cd, data_models, sources

Bump version: 2.4.1 → 2.5.0
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
Labels: none
